<!DOCTYPE html>
<html>
    <head>
        <title>
            Aylén A. Romero
        </title>
        <meta content="width=device-width,initial-scale=1.0" name="viewport"/>
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Inconsolata|Patua+One&display=swap" rel="stylesheet"/>
        <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" rel="stylesheet"/>
        <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet"/>
        <link href="assets/img/icon.png" rel="shortcut icon">
        </link>
    </head>
</html>
<body id="particles-js">
    <div :class="{'dark-mode': darkMode}" id="main-app">
        <div @click="toggleDarkMode()" id="dark-mode-toggle">
            <i :class="[darkMode ? 'fas' : 'far', 'fa-lightbulb']">
            </i>
        </div>
        <!-- all major sections are suffixed "section" -->
        <div :class="{'page-section': true, 'about-switched-on': aboutSwitchedOn}" id="intro-section">
            <div class="section-wrapper">
                <div class="name-heading-wrapper">
                    <h1 id="name-heading">
                        Aylén Azul Romero
                    </h1>
                    <h2 id="name-subheading">
                        Full-Stack Web Developer
                    </h2>
                    <div class="about-me">
                        <p>
                            I am a full-stack web developer curious to understand things. I work in JavaScript, Vue, HTML5, CSS3,  Bootstrap, Java, Spring Boot, Hibernate, Git. My latest projects are Salvo Battleship and NYSL's Web App. You can see my others projects at Github.
                        </p>
                    </div>
                </div>
                <div class="links">
                    <div @click="swichAboutOn()" class="one-link">
                        <i :class="[aboutSwitchedOn ?  'fas' : 'far', 'fa-user']">
                        </i>
                        <span class="link-label">
                            About
                        </span>
                    </div>
                    <div class="one-link">
                        <a href="#portfolio-main">
                            <i class="far fa-image">
                            </i>
                            <span class="link-label">
                                Projects
                            </span>
                        </a>
                    </div>
                    <div class="one-link">
                        <a href="assets/aylenromeroCV.pdf" target="_blank">
                            <i class="far fa-newspaper">
                            </i>
                            <span class="link-label">
                                Curriculum
                            </span>
                        </a>
                    </div>
                    <div class="one-link">
                        <a href="https://github.com/aylromero" target="_blank">
                            <i class="fab fa-github">
                            </i>
                            <span class="link-label">
                                Github
                            </span>
                        </a>
                    </div>
                    <div class="one-link">
                        <a href="https://www.linkedin.com/in/aylenazulromero/" target="_blank">
                            <i class="fab fa-linkedin">
                            </i>
                            <span class="link-label">
                                LinkedIn
                            </span>
                        </a>
                    </div>
                    <div class="one-link">
                        <a href="#contact-section">
                            <i class="far fa-envelope">
                            </i>
                            <span class="link-label" id="contact-link">
                                Contact
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="portfolio-main">
            <div class="page-section" id="projects-section">
                <div class="section-wrapper">
                    <div class="section-title">
                        <h2>
                            Projects
                        </h2>
                    </div>
                    <div class="one-project" v-for="project in projects">
                        <a :href="project.live" class="project-pic" target="_blank">
                            <div :style=" { 
                                    background: `url(assets/img/${project.pictures[0]}) no-repeat center center`, 
                                    'background-size': 'cover', 
                                    'background-color': '#000000', 
                                    'border-radius': '0 5px 5px 0'}">
                            </div>
                        </a>
                        <div class="project-body">
                            <div class="project-name">
                                {{ project.name }}
                            </div>
                            <div class="project-tags">
                                <span class="project-tag" v-for="tag in project.tags">
                                    {{ tag }}
                                </span>
                            </div>
                            <div class="project-description">
                                <span v-html="project.description">
                                </span>
                            </div>
                            <div class="project-links">
                                <a :href="project.live" target="_blank" v-if="project.live">
                                    Code
                                </a>
                                <a :href="project.github" target="_blank" v-if="project.github">
                                    View
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-section" id="contact-section">
                <div class="section-wrapper">
                    <div class="section-title">
                        <h2>
                            Contact
                        </h2>
                        <p class="contact">
                            Want to work something together, hire me, or talk?
                            <a href="mailto:aylenazulromero@gmail.com" target="_blank">
                                Shoot me an email!
                            </a>
                        </p>
                    </div>
                    <div>
                        <div class="ui small circular rotate reveal image">
                            <img class="visible content" src="assets/img/tel.jpg"/>
                            <img class="hidden content" src="assets/img/dollify.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.1.1.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js">
    </script>
    <script src="assets/vue.min.js">
    </script>
    <script src="js/projects.js">
    </script>
    <script src="js/main.js">
    </script>
    <script src="js/particles.js">
    </script>
    <script src="js/app.js">
    </script>
    <script src="js/stats.js">
    </script>
</body>
